**/*~

com.thesoftwarefactory.vertx.web.mvc.codegen/bin/

com.thesoftwarefactory.vertx.web.mvc.codegen.sdk/bin/

com.thesoftwarefactory.vertx.web.mvc.codegen.tests/bin/

com.thesoftwarefactory.vertx.web.mvc.codegen.ui/bin/
