/.GenerateRegisterRoutes.java._trace
/.GenerateRegisterRoutes.xtendbin
/.GenerateRegisterRoutesSecurity.java._trace
/.GenerateRegisterRoutesSecurity.xtendbin
/GenerateRegisterRoutes.java
/GenerateRegisterRoutesSecurity.java
